@use "base";

$small-mobile: 430px;
$desktop: 768px;

.slide-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: url("../../images/pattern-curve.svg") left bottom no-repeat;
  background-size: 40%;

  .slide-container {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 960px;
    position: relative;

    @media (min-width: 850px) {
      max-width: 887px;
    }

    .slide {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      font-weight: base.$font-light;
      justify-content: center;
      color: base.$dark-blue;
      text-align: center;

      @media (min-width: 850px) {
        flex-direction: row;
        text-align: start;
      }

      > :first-child {
        display: inherit;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: url("../../images/pattern-quotes.svg") top center no-repeat;
        background-size: 5rem;
        margin-block: 1.5rem;
        padding: 2rem;
        gap: 1.8rem;
        font-size: 1.5rem;
        line-height: 1.2;

        @media (min-width: 850px) {
          background-position: 20% top;
          background-size: 4.2rem;
          align-items: flex-start;
          margin: -1rem;
        }

        > :first-child {
          padding: 0;
        }

        > :nth-child(2) {
          font-size: 1rem;
          display: flex;
          gap: 0.5rem;
          font-weight: base.$font-bold;
          flex-direction: column;

          @media (min-width: 850px) {
            flex-direction: row;
          }

          > :nth-child(2) {
            color: base.$grayish-blue;
            font-weight: base.$font-medium;
          }
        }
      }

      > :nth-child(2) {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 3rem;
        background: url("../../images/pattern-bg.svg") center no-repeat;
        background-size: contain;

        @media (min-width: 850px) {
          padding: 4rem;
          margin-left: -12rem;
          z-index: -1;
        }

        @media (max-width: 430px) {
          padding: 2rem;
        }

        > img {
          height: 100%;
          width: 20rem;
          border-radius: 0.5rem;
          filter: drop-shadow(0 0.1rem 0.5rem base.$grayish-blue);

          @media (min-width: 850px) {
            width: 25.5rem;
          }

          @media (max-width: 430px) {
            max-width: 15rem;
          }
        }
      }
    }
  }
}

.slide-buttons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 21.6rem;
  width: 5rem;
  height: 2.5rem;
  border-radius: 2rem;
  overflow: hidden;
  background-color: white;
  filter: drop-shadow(0.1rem 0.1rem 0.7rem base.$grayish-blue);

  @media (min-width: 850px) {
    top: 28.3rem;
    transform: translate(-1rem);
    left: calc(100% - 25.5rem);
  }

  @media (max-width: 430px) {
    top: 15.6rem;
  }

  :hover {
    cursor: pointer;
    background-color: azure;
  }

  #slide-prev,
  #slide-next {
    display: inline-block;
    width: 50%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 1.5rem;
  }

  #slide-prev:hover,
  #slide-next:hover {
    background-color: antiquewhite;
  }

  #slide-prev {
    left: 0;
    background: url("../../images/icon-prev.svg") no-repeat center;
    background-size: auto;
  }

  #slide-next {
    right: 0;
    background: url("../../images/icon-next.svg") no-repeat center;
    background-size: auto;
  }
}
