@use "base";

.slide-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: url("../../images/pattern-curve.svg") left bottom no-repeat;
  background-size: contain;

  .slide-container {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 850px;
    position: relative;

    .slide {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      font-weight: base.$font-light;
      justify-content: center;
      color: base.$dark-blue;
      text-align: center;

      > :first-child {
        display: inherit;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: url("../../images/pattern-quotes.svg") top center no-repeat;
        background-size: 5rem;
        margin-block: 1.5rem;
        padding: 1.5rem;
        gap: 1.5rem;
        line-height: 1;

        > :nth-child(2) {
          font-size: 20px;
          display: flex;
          gap: 0.5rem;
          font-weight: base.$font-bold;
          flex-direction: column;

          > :nth-child(2) {
            color: base.$grayish-blue;
            font-weight: base.$font-medium;
          }
        }
      }

      > :nth-child(2) {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 2.5rem;
        background: url("../../images/pattern-bg.svg") center no-repeat;
        background-size: contain;

        > img {
          height: 100%;
          width: 20rem;
          border-radius: 0.5rem;
          filter: drop-shadow(0 0.1rem 0.5rem base.$grayish-blue);
        }
      }
    }
  }
}

.slide-buttons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 22rem;
  width: 6rem;
  height: 2.5rem;
  border-radius: 2rem;
  z-index: 1;
  overflow: hidden;
  background-color: white;
  filter: drop-shadow(0.1rem 0.1rem 0.7rem base.$grayish-blue);

  :hover {
    cursor: pointer;
    background-color: azure;
  }

  #slide-prev,
  #slide-next {
    display: inline-block;
    width: 50%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 1.5rem;
  }

  #slide-prev:hover,
  #slide-next:hover {
    background-color: antiquewhite;
  }

  #slide-prev {
    left: 0;
    background: url("../../images/icon-prev.svg") no-repeat center;
    background-size: auto;
  }

  #slide-next {
    right: 0;
    background: url("../../images/icon-next.svg") no-repeat center;
    background-size: auto;
  }
}

@media only screen and (min-width: 768px) {
  .slide {
    flex-direction: row;
    text-align: left;
  }
  .slide-text {
    background-position: 10% top;
    background-size: 100px;
    align-items: flex-start;
  }
  .slide-img {
    margin-left: -100px;
    z-index: -1;
  }
  .slide-img img {
    width: 400px;
  }
  .buttons {
    top: 415px;
    transform: translate(0);
    left: calc(100% - 400px);
  }
}
